##### MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

##### Apache
ALLOW_OVERRIDE=true

##### PHPMYADMIN (Max upload à 1Go et session expire après 24 heures)
UPLOAD_SIZE=1G
SESSION_TIMEOUT=86400