web:
    build: apache
    ports:
        - "80:80"
        - "11211:11211"
    volumes:
        - ~/vbox/www:/var/www
        - ~/vbox/conf/php.ini:/etc/php5/apache2/conf.d/30-custom.ini
        - ~/vbox/conf/sites:/etc/apache2/sites-enabled
        - ~/vbox/tmp:/usr/tmp
        - ~/vbox/logs:/var/log/apache2
    env_file: docker-env
    links:
        - mysql
    extra_hosts:
        # match with your conf in ~/vbox/conf/sites
        - "vmachine.dev:127.0.0.1"

mysql:
    image: mariadb:latest
    env_file: docker-env
    ports:
        - "3306:3306"
    tty: true

phpmyadmin:
    image: corbinu/docker-phpmyadmin
    links:
      - mysql
    ports:
      - "8181:80"
    env_file: docker-env